*{
    font-family: Helvetica;
    margin: 0;

}
header,footer{
    background-color: #B3BC6D;
    color: white;
    text-align: center;
    padding: 5px;
}

nav{
    background-color:#FFFFCE ;
    color: olive;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-right: 150px;
    padding-left: 150px;
}
#lewy,#prawy{
    background-color:#E6EE9C ;
    width: 25%;
    height: 450px;
    text-align: center;
    float: left;
    
}
#srodkowy{
    background-color:#FFFFCE ;
    width: 50%;
    height: 450px;
    float: left;
    

}
footer{
    clear: both;
}

table{
    border: 1px solid olive;
    width: 70%;
    margin: auto;

}
h2{
    text-align: center;
}
h2::first-letter{
    font-size: 150%;
    color: olive;
}
img{
    height: 100px;
    padding: 7px;
}
img:hover{
    background-color:#B3BC6D ;
}